{% include 'college/navbar.html' %}
{% block body %}
{% load static %}

{% ifequal error "yes" %}
<script>
    alert('logged in successfully');
    window.location=('{% url 'admin_dashboard' %}');
</script>
{% endifequal %}
{% ifequal error "not" %}
<script>
    alert('Username & Password are not Matching');
</script>
{% endifequal %}
<br>
<br>


<div class="container">
    <h2 style="margin-top:20px" align="center">Admin Login Form</h2><hr>

<div class="container-fluid" style="width:70%;margin-top:10%">
<form method="post" action="">
    {% csrf_token %}
  <div class="form-group">
    <label for="exampleInputEmail1">Username</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="username" placeholder="Enter Username">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
   <div class="text-center">Create an account? <a href="adminsignup">Sign up here</a></div>
</form>
</div>
</div>

{% endblock %}